@media screen and (max-width:600px) {
    body {
        overflow-x: hidden;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
    .Header img {
        position: relative;
        left: 10px;
    }

    .Header li {
        display: none;
    }

    .Header .Header_line {
        position: absolute;
        top: 120px;
        -webkit-top:120px;
        left: 10px;
        -webkit-left:10px;
        width: 95%;
        height: 1px;
    }

    .who_we_are .page_name a {
        position: absolute;
        top: 150px;
        -webkit-top:150px;
        left: 20px;
        -webkit-left:20px;
    }

    .who_we_are .title_desc h1 {
        position: absolute;
        top: 150px;
        -webkit-top:150px;
        left: 10px;
        -webkit-left:10px;
        font-size: 40px;
    }

    .who_we_are .title_desc .first {
        position: absolute;
        top: 250px;
        -webkit-top:250px;
        left: 20px;
        -webkit-left:20px;
        width: 350px;
        height: 250px;
    }

    .who_we_are .title_desc p {
        position: absolute;
        top: 510px;
        -webkit-top:510px;
        left: 10px;
        -webkit-left:10px;
        width: 468px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 140% */
    }

    .who_we_are .title_desc h2 {
        position: absolute;
        top: 720px;
        -webkit-top:720px;
        left: 20px;
        -webkit-left:20px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 35px;
        line-height: 30px;
    }

    .who_we_are .hero_btn label {
        position: absolute;
        top: 850px;
        -webkit-top:850px;
        left: 80px;
        -webkit-left:80px;
        width: 110px;
        height: 30px;
        color: #fff;
        font-family: "SF Pro Text";
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height:33px; /* 125% */
        text-align: center;
        border: 2px solid #222;
        background-color: #000;
        cursor: pointer;
    }

    .who_we_are .hero_btn .arrow {
        position: absolute;
        top: 850px;
        -webkit-top:850px;
        left: 194px;
        -webkit-left:194px;
        width: 30px;
        height: 30px;
        cursor: pointer;
     }

     .who_we_are .arrow img {
        position: absolute;
        top: 5px;
        -webkit-top:5px;
        left: 5px;
        -webkit-left:5px;
        width: 20px;
        height: 20px;
    }

    /* our history */

    .our_history .title_desc {  
        position: absolute;
        top: 1000px;
        -webkit-top:1000px;
        left: 10px;
        -webkit-left: 10px;
    }

    .our_history .title_desc img {
        width: 350px;
        height: 250px;
    }

    .our_history .title_desc p {
        font-size: 12px;
        width: 355px;
        line-height: 23px;
    }

    .button_divider .tittle_button {
        position: absolute;
        top: 1200px;
        -webkit-top:1200px;
        left: 10px;
        -webkit-left: 10px;
    }

    .button_divider .tittle_button h1 {
        position: absolute;
        top: 400px;
        -webkit-top:400px;
        left: 10px;
        -webkit-left: 10px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 35px;
        width: 255px;
        font-style: normal;
        font-weight: 600;
    }

    .button_divider .hero_btn2 label {
        position: absolute;
        top: 500px;
        -webkit-top:500px;
        left: 100px;
        -webkit-left: 100px;
        width: 110px;
        height: 30px;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: 33px;
    }

    .button_divider .hero_btn2 .arrow {
        position: absolute;
        top: 500px;
        -webkit-top:500px;
        left: 212px;
        -webkit-left: 212px;
        width: 30px;
        height: 30px;
        cursor: pointer;
     }

     .button_divider .arrow img {
        position: absolute;
        top: 5px;
        -webkit-top:5px;
        left: 5px;
        -webkit-left: 5px;
        width: 20px;
        height: 20px;
    }

    .button_divider .divider {
        position: absolute;
        top: 550px;
        -webkit-top:550px;
        left: 10px;
        -webkit-left: 10px;
        width: 350px;
        height: 1px;
        background-color: #000;
    }

    .footer h1 {
        position: absolute;
        top: 1750px;
        -webkit-top:1750px;
        left: 15px;
        -webkit-left: 15px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 35px;
        font-style: normal;
        font-weight: 600;
        line-height: 45px; /* 150% */
        letter-spacing: -0.96px;
    }

    .footer .footer_btn label {
        position: absolute;
        top: 1950px;
        -webkit-top:1950px;
        align-items: center;
        width: 110px;
        height: 30px;
        color: #fff;
        font-family: "SF Pro Text";
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height:33px; /* 125% */
        text-align: center;
        border: 2px solid #222;
        background-color: #000;
        cursor: pointer;
    }

    .footer .footer_btn .footer_arrow {
        position: absolute;
        top: 1950px;
        -webkit-top:1950px;
        left: 234px;
        -webkit-left: 234px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .footer .footer_btn img {
        position: absolute;
        top: 5px;
        -webkit-top:5px;
        left: 5px;
        -webkit-left: 5px;
        width: 20px;
        height: 20px;
    }

    .footer .footer_menu a {
        position: relative;
        top: 1900px;
        -webkit-top:1900px;
        left: 0px;
        -webkit-left: 0px;
        margin: 10px;
        text-decoration: none;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    .footer .footer_address a {
        position: relative;
        display: block;
        top: 1920px;
        -webkit-top:1920px;
        left: -20px;
        -webkit-left: -20px;
        text-decoration: none;
        width: 199px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
    }

    .footer .footer_address p {
        position: relative;
        top: 1920px;
        -webkit-top:1920px;
        left: 18px;
        -webkit-left: 18px;
        font-size: 10px;
    }

    .footer .footer_address2 a {
        position: relative;
        display: block;
        top: 1665px;
        -webkit-top:1665px;
        left: 100px;
        -webkit-left: 100px;
        text-decoration: none;
        width: 199px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
    }
    
    .footer .footer_address2 p {
        position: relative;
        top: 1663px;
        -webkit-top:1663px;
        left: 135px;
        -webkit-left: 135px;
        font-size: 10px;
    }

    .footer .footer_address3 a {
        position: relative;
        display: block;
        top: 1410px;
        -webkit-top:1410px;
        left: 230px;
        -webkit-left: 230px;
        text-decoration: none;
        width: 199px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
    }
    
    .footer .footer_address3 p {
        position: relative;
        top: 1405px;
        -webkit-top:1405px;
        left: 265px;
        -webkit-left: 265px;
        font-size: 10px;
    }

    .footer .footer_sns img {
        position: relative;
        top: 1450px;
        -webkit-top:1450px;
        left: 50px;
        -webkit-left: 50px; 
        width: 20px;
        height: 20px;
        margin: 20px;
    }

    .footer .footer_line2 {
        position: absolute;
        top: 2480px;
        -webkit-top:2480px;
        left: 20px;
        -webkit-left: 20px; 
        width: 350px;
        height: 1px;
        background-color: #000;
    }

    .footer .copywirting p {
        position: absolute;
        top: 2500px;
        -webkit-top:2500px;
        left: 100px;
        -webkit-left: 100px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; 
    }
    
    .footer .copywirting span {
        position: absolute;
        top: 2550px;
        -webkit-top:2550px;
        left: 100px;
        -webkit-left: 100px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }
}