/*Iphone12, Iphone12 pro 사이즈*/
@media (max-width:730px) {

    .Header {
        position: absolute;
        top: 0;
        max-width: 100%;
        height: 115px;
        overflow-x: hidden;
    }

    .Header img {
        position: absolute;
        top: 0;
        left: 10px;

    }

    .Header .Header_line {
        position: absolute;
        top: 112px;
        left: 10px;
        max-width: 95%;   
    }

    .container {
        width: 100%;
        height: 5295px;
        overflow-x: hidden;
    }

    #page-1 .image img {
        position: absolute;
        top: -50px;
        left: -320px;
        width: 350px;
        height: 250px;
    }

    #page-1 h1 {
        position: absolute;
        top: 120px;
        left: 150px;
    }

    #page-1 h2 {
        position: absolute;
        top: 120px;
        left: 15px;
        font-size: 45px;
        line-height: 50px;
    }

    #page-1 .hero_line {
        position: absolute;
        top: 540px;
        left: 10px;
        max-width: 95%;
        height: 1px;
        background-color: #000;
    }

    #page-2 .first_scroll {
        position: absolute;
        top: 555px;
        left: -270px;
        color: #000;
        text-align: center;
        font-family: "SF Pro Text";
        font-size: 15px;
        -webkit-font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 23px; /* 133.333% */
        opacity: 1;
    }
    
    #page-2 h2 {
        position: absolute;
        top: 625px;
        left: -20px;
        color: #000;
        text-align: center;
        font-family: "SF Pro Text";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; /* 133.333% */
        letter-spacing: -0.96px;
        opacity: 1;
    }

    #page-2 .about_container ul li {
        list-style: none;
    }
    

    #page-2 .about_container p {
        position: relative;
        display: inline-flex;
        top: 670px;
        left:-15px;
        width: 110.33334px;
        height: 130px;
        margin: 0px;
        background-color: rgba(211, 211, 211, 0.116);
    }
    
    #page-2 .b1 {
        position: relative;
        display: inline-block;
        top: 450px;
        left: 35px;
        width: 100px;
        height: 200px;
    }

    #page-2 .b2 {
        position: relative;
        display: inline-block;
        top: 245px;
        left: 140px;
        width: 115px;
        height: 200px;
    }

    #page-2 .b3 {
        position: relative;
        display: inline-block;
        top: 40px;
        left: 255px;
        width: 115px;
        height: 200px;
    }

    #page-2 .about_desc h1 {
        position: absolute;
        top: 950px;
        left: -80px;
        color: #000;
        text-align: center;
        font-family: "SF Pro Text";
        font-size: 9px;
        -webkit-font-size: 9px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px; /* 133.333% */
    }
    
    
    #page-2 .about_btn a {
        position: absolute;
        top: 1086px;
        left: 131px;
        width: 95px;
        height: 30px;
        color: #fff;
        font-family: "SF Pro Text";
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height:30px; /* 125% */
        text-align: center;
        border: 2px solid #222;
        background-color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    
    #page-2 .about_btn .arrow {
        position: absolute;
        top: 1086px;
        left: 230px;
        width: 30px;
        height: 30px;
        border: 2px solid #222;
     }
    
     #page-2 .about_btn .arrow img {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 20px;
        height: 20px;
    }

    #page-3 h1 {
        position: absolute;
        top: 1150px;
        left: 20px;
        color: #000;
        text-align: center;
        font-family: "SF Pro Text";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 72px; /* 150% */
        letter-spacing: -0.96px;
    }
    
    #page-3 .service_btn label {
        position: absolute;
        top: 1182px;
        left: 240px;
        width: 25%;
        height: 30px;
        color: #fff;
        font-family: "SF Pro Text";
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height:30px; /* 125% */
        text-align: center;
        border: 2px solid #222;
        background-color: #000;
        cursor: pointer;
    }
    
    #page-3 .service_btn .arrow {
        position: absolute;
        top: 1182px;
        left: 340px;
        width: 8%;
        height: 30px;
        border: 2px solid #222;
        cursor: pointer;
     }
    
     #page-3 .service_btn .arrow img {
        position: absolute;
        top: 7px;
        left: 7px;
        width: 20px;
        height: 20px;
    }
    
    #page-3 .service_line  {
        position: absolute;
        top: 1230px;
        left: 10px;
        width: 95%;
        height: 1px;
        background-color: #000;
    }
    
    #page-3 .service_num img {
        position: absolute;
        top: 1260px;
        left: 90px;
        width: 200px;
        height: 200px;
        opacity: 1;
    }

    #page-3 .service_num h1 {
        position: absolute;
        top: 1410px;
        left: -50px;
        width: 477px;
        color: #000;
        text-align: center;
        font-family: "SF Pro Text";
        font-size: 54px;
        font-style: normal;
        font-weight: 700;
        line-height: 50px; /* 114.286% */
        letter-spacing: -1.68px;
        opacity: 1;
    }
    
    #page-3 .item_menu ul li {
        list-style: none;
    }
    
    #page-3 .item_menu p {
        position: relative;
        display: inline-block;
        top: -4420px;
        left: -20px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        margin: 5px;
        letter-spacing: -0.48px;
    }
    
    #page-3 .item_menu img {
        position: absolute;
        top: 1680px;
        left: 45px;
        width: 300px;
        height: 450px;
        opacity: 1;
    }
    
    #page-3 .item_menu h1 {
        position: absolute;
        top: 2135px;
        left: -82px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 10px;
        -webkit-font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px; 
        text-align: center;
    }

    /* 사파리에서만 적용되는 스타일 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* 추가하려는 스타일 */
    #page-3 .item_menu h1 {
        position: absolute;
        top: 2135px;
        left: -82px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px; 
        text-align: center;
    }
  }
    
    #page-3 .item_btn label {
        position: absolute;
        top: 2236px;
        left: 130px;
        width: 95px;
        height: 30px;
        color: #fff;
        font-family: "SF Pro Text";
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height:30px; /* 125% */
        text-align: center;
        border: 2px solid #222;
        background-color: #000;
        cursor: pointer;
    }
    
    #page-3 .item_btn .item_arrow {
        position: absolute;
        top: 2236px;
        left: 229px;
        width: 30px;
        height: 30px;
        border: 2px solid #222;
        cursor: pointer;
     }
    
     #page-3 .item_btn .item_arrow img {
        position: absolute;
        top: 5px;
        left: 6px;
        width: 20px;
        height: 20px;
    }

    #page-4 h1 {
        position: absolute;
        top: 2300px;
        left: 10px;
        color: #000;
        text-align: center;
        font-family: "SF Pro Text";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 72px; /* 150% */
        letter-spacing: -0.96px;
    }
    
    #page-4 .Recent_btn label {
        position: absolute;
        top: 2332px;
        left: 236px;
        width: 25%;
        height: 30px;
        color: #fff;
        font-family: "SF Pro Text";
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height:33px; /* 125% */
        text-align: center;
        border: 2px solid #222;
        background-color: #000;
        cursor: pointer;
    }
    
    #page-4 .Recent_btn .Recent_arrow {
        position: absolute;
        top: 2332px;
        left: 338px;
        width: 8%;
        height: 30px;
        border: 2px solid #222;
        cursor: pointer;
     }
    
     #page-4 .Recent_btn .Recent_arrow img {
        position: absolute;
        top: 5px;
        left: 6px;
        width: 20px;
        height: 20px;
    }
    
    #page-4 .Recent_line  {
        position: absolute;
        top: 2380px;
        left: 10px;
        width: 95%;
        height: 1px;
        background-color: #000;
    }
    
    #page-4 .UVU_Classroom_Building .uvu {
        position: absolute;
        top: 2400px;
        left: 10px;
        width: 230px;
        height: 187px;
        opacity: 1;
    }
    
    #page-4 .UVU_Classroom_Building .logo_background {
        position: absolute;
        top: 2390px;
        left: 15px;
        width: 30.433px;
        height: 28px;
        background-color: #000;
        opacity: 1;
    }
    
    #page-4 .UVU_Classroom_Building .logo {
        position: absolute;
        top: 2415px;
        left: 19px;
        width: 22px;
        height: 11px;
        opacity: 1;
    }
    
    #page-4 .UVU_Classroom_Building h1 {
        position: absolute;
        top: 2575px;
        left: 10px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 9px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 120% */
        letter-spacing: -0.4px;
    }
    
    #page-4 .UVU_Classroom_Building h2 {
        position: absolute;
        top: 2585px;
        left: 10px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 7px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 120% */
        letter-spacing: -0.36px;
    }
    
    #page-4 .Monson_Center .thomas {
        position: absolute;
        top: 2397px;
        left: 255px;
        width: 120px;
        height: 190px;
        opacity: 1;
    }
    
    #page-4 .Monson_Center .logo_background2 {
        position: absolute;
        top: 2390px;
        left: 260px;
        width: 20.433px;
        height: 18px;
        background-color: #000;
        opacity: 1;
    }
    
    #page-4 .Monson_Center .logo2 {
        position: absolute;
        top: 2410px;
        left: 263px;
        width: 15px;
        height: 8px;
        opacity: 1;
    }
    
    #page-4 .Monson_Center h1 {
        position: absolute;
        top: 2575px;
        left: 255px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 9px;
        font-style: normal;
        font-weight: 500;
    }
    
    #page-4 .Monson_Center h2 {
        position: absolute;
        top: 2585px;
        left: 255px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 7px;
        font-style: normal;
        font-weight: 400;
    
    }
    
    #page-4 .USU_Swaner .usu {
        position: absolute;
        top: 2630px;
        left: 10px;
        width: 190px;
        height: 187px;
        opacity: 1;
    }
    
    #page-4 .USU_Swaner .logo_background3 {
        position: absolute;
        top: 2620px;
        left: 15px;
        width: 30.433px;
        height: 28px;
        background-color: #000;
        opacity: 1;
    }
    
    #page-4 .USU_Swaner .logo3 {
        position: absolute;
        top: 2645px;
        left: 20px;
        width: 22px;
        height: 11px;
        opacity: 1;
    }
    
    #page-4 .USU_Swaner h1 {
        position: absolute;
        top: 2810px;
        left: 10px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 9px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 120% */
        letter-spacing: -0.4px;
    }
    
    #page-4 .USU_Swaner h2 {
        position: absolute;
        top: 2820px;
        left: 10px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 7px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 120% */
        letter-spacing: -0.36px;
    }
    
    #page-4 .USU_Swaner .num45 {
        position: absolute;
        top: 2650px;
        left: 220px;
        width: 150px;
        height: 100px;
        opacity: 1;
    }
    
    #page-4 .USU_Swaner .usu_desc {
        position: absolute;
        top: 2740px;
        left: 20px;
        width: 557px;
        color: #000;
        text-align: center;
        font-family: "SF Pro Text";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 114.286% */
        letter-spacing: -1.68px;
        opacity: 1;
    }
    
    #page-4 .UVU_Fulton .uvu2 {
        position: absolute;
        top: 2850px;
        left: 10px;
        width: 110px;
        height: 160px;
        opacity: 1;
    }
    
    #page-4 .UVU_Fulton .logo_background4 {
        position: absolute;
        top: 2840px;
        left: 15px;
        width: 20.433px;
        height: 18px;
        background-color: #000;
        opacity: 1;
    }
    
    #page-4 .UVU_Fulton .logo4 {
        position: absolute;
        top: 2861px;
        left: 18px;
        width: 15px;
        height: 8px;
        opacity: 1;
    }
    
    #page-4 .UVU_Fulton h1 {
        position: absolute;
        top: 3000px;
        left: 10px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 9px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: -0.4px;
    }
    
    #page-4 .UVU_Fulton h2 {
        position: absolute;
        top: 3010px;
        left: 10px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 7px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -0.36px;
    }
    
    #page-4 .USU_College .usu2 {
        position: absolute;
        top: 2850px;
        right: 10px;
        width: 250px;
        height: 180px;
        opacity: 1;
    }
    
    #page-4 .USU_College .logo_background5 {
        position: absolute;
        top: 2840px;
        right: 220px;
        width: 30.433px;
        height: 28px;
        background-color: #000;
        opacity: 1;
    }
    
    #page-4 .USU_College .logo5 {
        position: absolute;
        top: 2864px;
        right: 224px;
        width: 22px;
        height: 11px;
        opacity: 1;
    }
    
    #page-4 .USU_College h1 {
        position: absolute;
        top: 3020px;
        left: 130px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 9px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: -0.4px;
    }
    
    #page-4 .USU_College h2 {
        position: absolute;
        top: 3030px;
        left: 130px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 7px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -0.36px;
    }
    
    #page-4 .sugar_house .sugar {
        position: absolute;
        top: 3070px;
        left: 10px;
        width: 180px;
        height: 180px;
        opacity: 1;
    }
    
    #page-4 .sugar_house .logo_background6 {
        position: absolute;
        top: 3060px;
        left: 15px;
        width: 30.433px;
        height: 28px;
        background-color: #000;
        opacity: 1;
    }
    
    #page-4 .sugar_house .logo6 {
        position: absolute;
        top: 3084px;
        left: 19px;
        width: 22px;
        height: 11px;
        opacity: 1;
    }
    
    #page-4 .sugar_house h1 {
        position: absolute;
        top: 3240px;
        left: 10px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 9px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: -0.4px;
    }
    
    #page-4 .sugar_house h2 {
        position: absolute;
        top: 3251px;
        left: 10px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 7px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -0.36px;
    }
    
    #page-4 .trax .uta {
        position: absolute;
        top: 3070px;
        left: 200px;
        width: 180px;
        height: 180px;
        opacity: 1;
    }
    
    #page-4 .trax .logo_background7 {
        position: absolute;
        top: 3060px;
        left: 210px;
        width: 30.433px;
        height: 28px;
        background-color: #000;
        opacity: 1;
    }
    
    #page-4 .trax .logo7 {
        position: absolute;
        top: 3084px;
        left: 213px;
        width: 22px;
        height: 11px;
        opacity: 1;
    }
    
    #page-4 .trax h1 {
        position: absolute;
        top: 3240px;
        left: 200px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 9px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: -0.4px;
    }
    
    #page-4 .trax h2 {
        position: absolute;
        top: 3250px;
        left: 200px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 7px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -0.36px;
    }
    
    #page-4 .module .unified {
        position: absolute;
        top: 3300px;
        left: 10px;
        width: 240px;
        height: 180px;
        opacity: 1;
    }
    
    #page-4 .module .logo_background8 {
        position: absolute;
        top: 3290px;
        left: 15px;
        width: 30.433px;
        height: 28px;
        background-color: #000;
        opacity: 1;
    }
    
    #page-4 .module .logo8 {
        position: absolute;
        top: 3315px;
        left: 19px;
        width: 22px;
        height: 11px;
        opacity: 1;
    }
    
    #page-4 .module h1 {
        position: absolute;
        top: 3470px;
        left: 10px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 9px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: -0.4px;
    }
    
    #page-4 .module h2 {
        position: absolute;
        top: 3480px;
        left: 10px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 7px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -0.36px;
    }
    
    #page-4 .Geology .sutton {
        position: absolute;
        top: 3300px;
        left: 260px;
        width: 120px;
        height: 140px;
        opacity: 1;
    }
    
    #page-4 .Geology .logo_background9 {
        position: absolute;
        top: 3290px;
        left: 270px;
        width: 20.433px;
        height: 18px;
        background-color: #000;
        opacity: 1;
    }
    
    #page-4 .Geology .logo9 {
        position: absolute;
        top: 3311px;
        left: 272px;
        width: 15px;
        height: 8px;
        opacity: 1;
    }
    
    #page-4 .Geology h1 {
        position: absolute;
        top: 3435px;
        left: 260px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 9px;
        font-style: normal;
        font-weight: 500;
        line-height: 10px; /* 120% */
        letter-spacing: -0.4px;
        text-align: start;
    }
    
    #page-4 .Geology h2 {
        position: absolute;
        top: 3450px;
        left: 260px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 7px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -0.36px;
    }
    
    #page-4 .s-line .k {
        position: absolute;
        top: 3550px;
        left: 30px;
        width: 150px;
        height: 100px;
        opacity: 1;
    }
    
    #page-4 .s-line .line_title {
        position: absolute;
        top: 3640px;
        left: -160px;
        width: 521px;
        color: #000;
        text-align: center;
        font-family: "SF Pro Text";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 114.286% */
        letter-spacing: -1.68px;
        opacity: 1;
    }
    
    #page-4 .s-line .s_line {
        position: absolute;
        top: 3530px;
        left: 200px;
        width: 180px;
        height: 180px;
        opacity: 1;
    }
    
    #page-4 .s-line .logo_background10 {
        position: absolute;
        top: 3520px;
        left: 205px;
        width: 30.433px;
        height: 28px;
        background-color: #000;
        opacity: 1;
    }
    
    #page-4 .s-line .logo10 {
        position: absolute;
        top: 3545px;
        left: 209px;
        width: 22px;
        height: 11px;
        opacity: 1;
    }
    
    #page-4 .s-line h2 {
        position: absolute;
        top: 3700px;
        left: 200px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 9px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: -0.4px;
        text-align: start;
    }
    
    #page-4 .s-line h3 {
        position: absolute;
        top: 3710px;
        left: 200px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 7px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -0.36px;
    }
    
    #page-4 .Recent_btn2 h1 {
        position: absolute;
        top: 3740px;
        left: 120px;
        color: #000;
        text-align: center;
        font-family: "SF Pro Text";
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: -0.96px;
    }
    
    #page-4 .Recent_btn2 label {
        position: absolute;
        top: 3820px;
        left: 150px;
        width: 55px;
        height: 20px;
        color: #fff;
        font-family: "SF Pro Text";
        font-size: 9px;
        font-style: normal;
        font-weight: 600;
        line-height:20px; /* 125% */
        text-align: center;
        border: 2px solid #222;
        background-color: #000;
        cursor: pointer;
    }
    
    #page-4 .Recent_btn2 .Recent_arrow2 {
        position: absolute;
        top: 3820px;
        left: 205px;
        width: 25px;
        height: 20px;
        border: 2px solid #222;
        cursor: pointer;
     }
    
     #page-4 .Recent_btn2 .Recent_arrow2 img {
        position: absolute;
        top: 2px;
        left: 5px;
        width: 15px;
        height: 15px;
    }

    #page-5 h1 {
        position: absolute;
        top: 3880px;
        left: 12px;
        color: #000;
        text-align: center;
        font-family: "SF Pro Text";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 72px; /* 150% */
        letter-spacing: -0.96px;
    }
    
    #page-5 .Our_btn label {
        position: absolute;
        top: 3910px;
        left: 230px;
        width: 110px;
        height: 30px;
        color: #fff;
        font-family: "SF Pro Text";
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height:33px; /* 125% */
        text-align: center;
        border: 2px solid #222;
        background-color: #000;
        cursor: pointer;
    }
    
    #page-5 .Our_btn .Our_arrow {
        position: absolute;
        top: 3910px;
        left: 344px;
        width: 30px;
        height: 30px;
        border: 2px solid #222;
        cursor: pointer;
     }
    
    #page-5 .Our_btn img {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 20px;
        height: 20px;
    }
    
    #page-5 .Our_line {
        position: absolute;
        top: 3955px;
        left: 10px;
        width: 95%;
        height: 1px;
        background-color: #000;
    }
    
    #page-5 h2 {
        position: absolute;
        top: 3965px;
        left: 10px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 7px;
        -webkit-font-size: 7px;
        font-style: normal;
        font-weight: 400;
        -webkit-line-height: 12px;
        line-height: 12px;
    }
    
    #page-5 .management_title ul li {
        list-style: none;
    }
    
    #page-5 .management_title a {
        position: relative;
        display: block;
        text-decoration: none;
        top: -1310px;
        left: -34px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: -0.48px;
        line-height: 50px;
    }

    #page-5 #management_img1 {
        position: absolute;
        display: grid;
        top: 4050px;
        left: 70px;
        gap: 5px;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    }

    #page-5 #management_img1 > img {
        width: 100px;
        height: 100px;
    }
 
    #page-5 #management_container1  {
        position: absolute;
        display: grid;
        top: 4150px;
        -webkit-top: 2490px;
        left: 70px;
        gap: 5px;
        -webkit-gap: 20px;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    }

    #page-5 #management_container1 > div {
        width: 100px;
        -webkit-width: 100px;
        height: 28px;
        -webkit-height: 28px;
        background-color: #cccccc70;
    }

    #page-5 #management_text {
        position: absolute;
        display: grid;
        top: 4143px;
        left: 72px;
        gap: 35px;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    }/*이름 텍스트*/

    #page-5 #management_text > p {
        color: #000;
        font-family: "SF Pro Text";
        font-size: 9px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -0.48px;
    }

    #page-5 #management_text2 {
        position: absolute;
        display: grid; 
        top: 4157px;
        left: 72px;
        gap: 66px;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    }/*직첵 텍스트*/

    #page-5 #management_text2 > p {
        color: #B2B2B2;
        font-family: "SF Pro Text";
        font-size: 7px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -0.48px;
    }
    
    #page-5 #management_img2 {
        position: absolute;
        display: grid;
        top: 4205px;
        left: 70px;
        gap: 5px;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    }

    #page-5 #management_img2 > img {
        width: 100px;
        height: 100px;
    }

    #page-5 #management_container2  {
        position: absolute;
        display: grid;
        top: 4305px;
        -webkit-top: 2490px;
        left: 70px;
        gap: 5px;
        -webkit-gap: 20px;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    }

    #page-5 #management_container2 > div {
        width: 100px;
        -webkit-width: 100px;
        height: 28px;
        -webkit-height: 28px;
        background-color: #cccccc70;
    }

    #page-5 #management_text3 {
        position: absolute;
        display: grid;
        top: 4298px;
        left: 72px;
        gap: 57px;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    }/*이름 텍스트*/

    #page-5 #management_text3 > p {
        color: #000;
        font-family: "SF Pro Text";
        font-size: 9px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -0.48px;
    }

    #page-5 #management_text4 {
        position: absolute;
        display: grid; 
        top: 4311px;
        left: 72px;
        gap: 62px;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    }/*직첵 텍스트*/

    #page-5 #management_text4 > p {
        color: #B2B2B2;
        font-family: "SF Pro Text";
        font-size: 7px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -0.48px;
    }
        
    #page-6 h1 {
        position: absolute;
        top: 4357px;
        left: 20px;
        color: #000;
        text-align: center;
        font-family: "SF Pro Text";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: -0.96px;
    }
    
    #page-6 .blog_btn label {
        position: absolute;
        top: 4395px;
        left: 230px;
        width: 110px;
        height: 30px;
        color: #fff;
        font-family: "SF Pro Text";
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height:30px; /* 125% */
        text-align: center;
        border: 2px solid #222;
        background-color: #000;
        cursor: pointer;
    }
    
    #page-6 .blog_btn .blog_arrow {
        position: absolute;
        top: 4395px;
        left: 344px;
        width: 30px;
        height: 30px;
        border: 2px solid #222;
        cursor: pointer;
     }
    
     #page-6 .blog_btn img {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 20px;
        height: 20px;
    }
    
    
    #page-6 .blog_line {
        position: absolute;
        top: 4440px;
        left: 10px;
        width: 95%;
        height: 1px;
        background-color: #000;
    }
    
    #page-6 .blog_desc1 img {
        position: absolute;
        top: 4480px;
        left: 20px;
        width: 170px;
        height: 170px;
    }
    
    #page-6 .m_blog_desc_container :first-child {
        position: absolute;
        top: 4634px;
        -webkit-top: 4634px;
        left:20px;
        width: 170px;
        -webkt-width: 170px;
        height: 70px;
        -webkt-height: 70px;
        background-color: #cccccc70;
        z-index: 1;
    }

    #page-6 .m_blog_desc_container :last-child {
        position: absolute;
        top: 4634px;
        -webkit-top: 4634px;
        left: 205px;
        width: 170px;
        -webkt-width: 170px;
        height: 70px;
        -webkt-height: 70px;
        background-color: #cccccc70;
        z-index: 1;
    }
    
    #page-6 .blog_desc1 span {
        position: absolute;
        top: 4650px;
        left: 22px;
        color: #B2B2B2;
        font-family: "SF Pro Text";
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
    }
    
    #page-6 .blog_desc1 h1 {
        position: absolute;
        top: 4650px;
        left: 22px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        z-index: 2;
    }
    
    #page-6 .blog_desc1 h2 {
        position: absolute;
        top: 4678px;
        left: 23px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 6.5px;    
        font-weight: 400;
        line-height: 10px;
        z-index: 2;
        font-style: normal;
    }
    
    #page-6 .blog_desc2 img {
        position: absolute;
        top: 4480px;
        left: 205px;
        width: 170px;
        height: 170px;
    }
    
    #page-6 .blog_desc2 span {
        position: absolute;
        top: 4650px;
        left: 207px;
        color: #B2B2B2;
        font-family: "SF Pro Text";
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
    }
    
    #page-6 .blog_desc2 h1 {
        position: absolute;
        top: 4650px;
        left: 207px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        z-index: 2;
    }
    
    #page-6 .blog_desc2 h2 {
        position: absolute;
        top: 4678px;
        left: 208px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 6.5px;    
        font-weight: 400;
        line-height: 9px;
        z-index: 2;
        font-style: normal;
    }
    
    .footer h1 {
        position: absolute;
        top: 4720px;
        left: 15px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 72px; /* 150% */
        letter-spacing: -0.96px;
    }

    .footer .footer_btn label {
        position: absolute;
        top: 4750px;
        left: 230px;
        width: 110px;
        height: 30px;
        color: #fff;
        font-family: "SF Pro Text";
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height:33px; /* 125% */
        text-align: center;
        border: 2px solid #222;
        background-color: #000;
        cursor: pointer;
    }

    .footer .footer_btn .footer_arrow {
        position: absolute;
        top: 4750px;
        left: 342px;
        width: 30px;
        height: 30px;
        border: 2px solid #222;
        cursor: pointer;
     }

    .footer .footer_btn img {
        position: absolute;
        top: 7px;
        left: 7px;
        width: 20px;
        height: 20px;
    }


    .footer .footer_line {
        position: absolute;
        top: 4800px;
        left: 10px;
        width: 95%;
        height: 1px;
        background-color: #000;
    }

    .footer h2 {
        position: absolute;
        top: 4810px;
        left: 15px;
        width: 376px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px; /* 120% */
        letter-spacing: -0.8px;
        text-align: center;
    }

    .footer .footer_btn2 label {
        position: absolute;
        top: 4880px;
        left: 141px;
        width: 80px;
        height: 20px;
        color: #fff;
        font-family: "SF Pro Text";
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height:25px; /* 125% */
        text-align: center;
        border: 2px solid #222;
        background-color: #000;
        cursor: pointer;
    }

    .footer .footer_btn2 .footer_arrow2 {
        position: absolute;
        top: 4880px;
        left: 225px;
        width: 20px;
        height: 20px;
        border: 2px solid #222;
        cursor: pointer;
     }

    .footer .footer_btn2 img {
        position: absolute;
        top: 3px;
        left: 3px;
        width: 15px;
        height: 15px;
    }

    .footer .footer_menu ul li {
        list-style: none;
    }

    .footer .footer_menu a {
        position: relative;
        top: -1200px;
        left: 10px;
        text-decoration: none;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        margin: 10px;
    }

    .footer .footer_address ul li {
        list-style: none;
    }

    .footer .footer_address a {
        position: relative;
        display: block;
        top: -1205px;
        left: -20px;
        text-decoration: none;
        width: 199px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;

    }

    .footer .footer_address p {
        position: relative;
        top: -1200px;
        left: 15px;
        font-size: 8px;
    }

    .footer .footer_address2 ul li {
        list-style: none;
    }

    .footer .footer_address2 a {
        position: relative;
        display: block;
        top: -1400px;
        left: 120px;
        text-decoration: none;
        width: 199px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
    }

    .footer .footer_address2 p {
        position: relative;
        top: -1395px;
        left: 155px;
        font-size: 8px;
    }

    .footer .footer_address3 ul li {
        list-style: none;
    }

    .footer .footer_address3 a {
        position: relative;
        display: block;
        top: -1595px;
        left: 255px;
        text-decoration: none;
        width: 199px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
    }

    .footer .footer_address3 p {
        position: relative;
        top: -1590px;
        left: 293px;
        font-size: 8px;
    }

    .footer .footer_sns ul li {
        list-style: none;
    }

    .footer .footer_sns img {
        position: relative;
        top: -1600px;
        left: 65px;
        width: 15px;
        height: 15px;
        margin: 20px;
    }

    .footer .footer_line2 {
        position: absolute;
        top: 5180px;
        left: 10px;
        width: 95%;
        height: 1px;
        background-color: #000;
    }

    .footer .copywirting p {
        position: absolute;
        top: 5185px;
        left: 10px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 9px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; 
    }

    .footer .copywirting span {
        position: absolute;
        top: 5195px;
        left: 290px;
        color: #000;
        font-family: "SF Pro Text";
        font-size: 9px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }
}