/** Ultra Light */
@font-face {
    font-family: "SF Pro Text";
    font-weight: 100;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
  }
  
  /** Thin */
  @font-face {
    font-family: "SF Pro Text";
    font-weight: 200;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
  }
  
  /** Regular */
  @font-face {
    font-family: "SF Pro Text";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }
  
  /** Medium */
  @font-face {
    font-family: "SF Pro Text";
    font-weight: 500;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
  }
  
  /** Semi Bold */
  @font-face {
    font-family: "SF Pro Text";
    font-weight: 600;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
  }
  
  /** Bold */ 
  @font-face {
    font-family: "SF Pro Text";
    font-weight: 700;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
  }

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    /* touch-action: pan-y; 수직 스크롤 허용, 수평 스크롤 비허용 */
    box-sizing: border-box;
}

.Header img {
    position: relative;
    left: 120px;
    width: 83.244px;
    height: 60px;
    display: flex;
    padding: 56px 12px 16px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    width: 59.244px;
    height: 32px;
    color: #fff;
}

.Header li {
    list-style: none;
}

.Header li a {
    position: relative;
    top: -50px;
    left: 880px;
    font-family: "SF Pro Text";
    font-size: 20px;
    font-weight: 500;
    margin: 40px;
    text-decoration: none;
    color: #000;
}

.Header .Header_line {
    position: absolute;
    top: 112px;
    left: 10px;
    width: 1840px;
    height: 1px;
    background-color: #000;
}

#page-1 h1 {
    position: absolute;
    top: 150px;
    left: 830px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}

#page-1 h2 {
    position: absolute;
    top: 100px;
    left: 300px;
    color: #000;
    font-size: 104px;
    font-style: normal;
    line-height: 116px; /* 111.538% */
    letter-spacing: -3.12px;
    z-index: 2;
    font-family: "SF Pro Text";
}

#page-1 .image {
    position: absolute;
    top: 250px;
    left: 350px;
    z-index: 1;
}

.hero_btn label {
    position: absolute;
    top: 154px;
    left: 1350px;
    width: 145px;
    height: 45px;
    color: #fff;
    font-family: "SF Pro Text";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height:45px; /* 125% */
    text-align: center;
    border: 2px solid #222;
    background-color: #000;
    cursor: pointer;
}

#page-1 .hero_btn .arrow {
    position: absolute;
    top: 154px;
    left: 1498px;
    width: 45px;
    height: 45px;
    border: 2px solid #222;
    cursor: pointer;
 }

#page-1 .arrow img {
    position: absolute;
    top: 5px;
    left: 7px;
    width: 30px;
    height: 30px;
}

.hero_sns ul li{
    list-style: none;
    cursor: pointer;
}

.hero_sns img {
    position: relative;
    top: 80px;
    left: 1300px;
    margin: 20px;
    cursor: pointer;
    z-index: 2;
}

#page-1 .hero_line  {
    position: absolute;
    top: 980px;
    left: 10px;
    width: 1840px;
    height: 1px;
    background-color: #000;
}

#page-2 .first_scroll {
    position: absolute;
    top: 1125px;
    left: 450px;
    width: 931px;
    color: #000;
    text-align: center;
    font-family: "SF Pro Text";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px; /* 133.333% */
    letter-spacing: -0.96px;
    opacity: 0;
}

#page-2 h2 {
    position: absolute;
    top: 1325px;
    left: 690px;
    color: #000;
    width: 441px;
    text-align: center;
    font-family: "SF Pro Text";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.48px;
}

/* #page-2 .about_container ul li {
    list-style: none;
} */

.content{
    max-width: 800px;
    margin: 0 auto;
}
.flexbox{
    display: flex;
    flex-wrap: wrap;
    gap: 1050px 50px;
}
.item{
    position: relative;
    top: 1270px;
    justify-content: center;
    align-items: center;;
    min-height: 250px;
    flex-basis: 10px;
    flex-grow: 1;
    background-color: blue;
}

#page-2 ul li {
    list-style: none;
}

#page-2 img {
    position: relative;
    top: 870px;
    left: 355px;
    padding: 0px 95.333px 0px 0px;
}

#page-2 .about_desc h1 {
    position: absolute;
    top: 1880px;
    left: 640px;
    width: 557px;
    color: #000;
    text-align: center;
    font-family: "SF Pro Text";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
}

#page-2 .about_btn a {
    position: absolute;
    top: 2036px;
    left: 820px;
    width: 145px;
    height: 45px;
    color: #fff;
    font-family: "SF Pro Text";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height:45px; /* 125% */
    text-align: center;
    border: 2px solid #222;
    background-color: #000;
    text-decoration: none;
    cursor: pointer;
}

#page-2 .about_btn .arrow {
    position: absolute;
    top: 2036px;
    left: 969px;
    width: 45px;
    height: 45px;
    border: 2px solid #222;
 }

 #page-2 .about_btn .arrow img {
    position: absolute;
    top: 7px;
    left: 7px;
    width: 30px;
    height: 30px;
}

#page-3 h1 {
    position: absolute;
    top: 2250px;
    left: 120px;
    color: #000;
    text-align: center;
    font-family: "SF Pro Text";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px; /* 150% */
    letter-spacing: -0.96px;
}


#page-3 .service_btn label {
    position: absolute;
    top: 2312px;
    left: 1500px;
    width: 145px;
    height: 45px;
    color: #fff;
    font-family: "SF Pro Text";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height:45px; /* 125% */
    text-align: center;
    border: 2px solid #222;
    background-color: #000;
    cursor: pointer;
}

#page-3 .service_btn .arrow {
    position: absolute;
    top: 2312px;
    left: 1649px;
    width: 45px;
    height: 45px;
    border: 2px solid #222;
    cursor: pointer;
 }

 #page-3 .service_btn .arrow img {
    position: absolute;
    top: 7px;
    left: 7px;
    width: 30px;
    height: 30px;
}

#page-3 .service_line  {
    position: absolute;
    top: 2370px;
    left: 15px;
    width: 1840px;
    height: 1px;
    background-color: #000;
}

#page-3 .service_num img {
    position: absolute;
    top: 2500px;
    left: 120px;
    opacity: 0;
}

#page-3 .service_num h1 {
    position: absolute;
    top: 2850px;
    left: 80px;
    width: 477px;
    color: #000;
    text-align: center;
    font-family: "SF Pro Text";
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 114.286% */
    letter-spacing: -1.68px;
    opacity: 0;
}

#page-3 .item_menu ul li {
    list-style: none;
}

#page-3 .item_menu p {
    position: relative;
    top: 1620px;
    left: 850px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 72px; /* 133.333% */
    letter-spacing: -0.48px;
}

#page-3 .item_menu img {
    position: absolute;
    top: 2450px;
    left: 1140px;
    opacity: 0;
}

#page-3 .item_menu h1 {
    position: absolute;
    top: 3090px;
    left: 1150px;
    width: 557px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    text-align: start;
}

#page-3 .item_btn label {
    position: absolute;
    top: 3216px;
    left: 1150px;
    width: 145px;
    height: 45px;
    color: #fff;
    font-family: "SF Pro Text";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height:45px; /* 125% */
    text-align: center;
    border: 2px solid #222;
    background-color: #000;
    cursor: pointer;
}

#page-3 .item_btn .item_arrow {
    position: absolute;
    top: 3216px;
    left: 1299px;
    width: 45px;
    height: 45px;
    border: 2px solid #222;
    cursor: pointer;
 }

 #page-3 .item_btn .item_arrow img {
    position: absolute;
    top: 7px;
    left: 7px;
    width: 30px;
    height: 30px;
}

#page-4 h1 {
    position: absolute;
    top: 3400px;
    left: 120px;
    color: #000;
    text-align: center;
    font-family: "SF Pro Text";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px; /* 150% */
    letter-spacing: -0.96px;
}

#page-4 .Recent_btn label {
    position: absolute;
    top: 3452px;
    left: 1500px;
    width: 145px;
    height: 45px;
    color: #fff;
    font-family: "SF Pro Text";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height:45px; /* 125% */
    text-align: center;
    border: 2px solid #222;
    background-color: #000;
    cursor: pointer;
}

#page-4 .Recent_btn .Recent_arrow {
    position: absolute;
    top: 3452px;
    left: 1649px;
    width: 45px;
    height: 45px;
    border: 2px solid #222;
    cursor: pointer;
 }

 #page-4 .Recent_btn .Recent_arrow img {
    position: absolute;
    top: 7px;
    left: 7px;
    width: 30px;
    height: 30px;
}

#page-4 .Recent_line  {
    position: absolute;
    top: 3510px;
    left: 15px;
    width: 1840px;
    height: 1px;
    background-color: #000;
}

#page-4 .UVU_Classroom_Building .uvu {
    position: absolute;
    top: 3560px;
    left: 120px;
    opacity: 0;
}

#page-4 .UVU_Classroom_Building .logo_background {
    position: absolute;
    top: 3560px;
    left: 140px;
    width: 60.433px;
    height: 48px;
    background-color: #000;
    opacity: 0;
}

#page-4 .UVU_Classroom_Building .logo {
    position: absolute;
    top: 3588px;
    left: 150px;
    width: 44.433px;
    height: 24px;
    opacity: 0;
}

#page-4 .UVU_Classroom_Building h1 {
    position: absolute;
    top: 4120px;
    left: 120px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: -0.4px;
}

#page-4 .UVU_Classroom_Building h2 {
    position: absolute;
    top: 4145px;
    left: 120px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: -0.36px;
}

#page-4 .Monson_Center .thomas {
    position: absolute;
    top: 3555px;
    right: 325px;
    opacity: 0;
}

#page-4 .Monson_Center .logo_background2 {
    position: absolute;
    top: 3555px;
    right: 630px;
    width: 60.433px;
    height: 48px;
    background-color: #000;
    opacity: 0;
}

#page-4 .Monson_Center .logo2 {
    position: absolute;
    top: 3583px;
    right: 637px;
    width: 44.433px;
    height: 24px;
    opacity: 0;
}

#page-4 .Monson_Center h1 {
    position: absolute;
    top: 4120px;
    left: 1155px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: -0.4px;
}

#page-4 .Monson_Center h2 {
    position: absolute;
    top: 4145px;
    left: 1155px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: -0.36px;
}

#page-4 .USU_Swaner .usu {
    position: absolute;
    top: 4240px;
    left: 120px;
    opacity: 0;
}

#page-4 .USU_Swaner .logo_background3 {
    position: absolute;
    top: 4240px;
    left: 140px;
    width: 60.433px;
    height: 48px;
    background-color: #000;
    opacity: 0;
}

#page-4 .USU_Swaner .logo3 {
    position: absolute;
    top: 4268px;
    left: 150px;
    width: 44.433px;
    height: 24px;
    opacity: 0;
}

#page-4 .USU_Swaner h1 {
    position: absolute;
    top: 4800px;
    left: 120px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: -0.4px;
}

#page-4 .USU_Swaner h2 {
    position: absolute;
    top: 4825px;
    left: 120px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: -0.36px;
}

#page-4 .USU_Swaner .num45 {
    position: absolute;
    top: 4295px;
    left: 1000px;
    opacity: 0;
}

#page-4 .USU_Swaner .usu_desc {
    position: absolute;
    top: 4620px;
    left: 1000px;
    width: 557px;
    color: #000;
    text-align: center;
    font-family: "SF Pro Text";
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 114.286% */
    letter-spacing: -1.68px;
    opacity: 0;
}

#page-4 .UVU_Fulton .uvu2 {
    position: absolute;
    top: 4950px;
    left: 120px;
    opacity: 0;
}

#page-4 .UVU_Fulton .logo_background4 {
    position: absolute;
    top: 4950px;
    left: 140px;
    width: 60.433px;
    height: 48px;
    background-color: #000;
    opacity: 0;
}

#page-4 .UVU_Fulton .logo4 {
    position: absolute;
    top: 4978px;
    left: 150px;
    width: 44.433px;
    height: 24px;
    opacity: 0;
}

#page-4 .UVU_Fulton h1 {
    position: absolute;
    top: 5310px;
    left: 120px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: -0.4px;
}

#page-4 .UVU_Fulton h2 {
    position: absolute;
    top: 5335px;
    left: 120px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: -0.36px;
}

#page-4 .USU_College .usu2 {
    position: absolute;
    top: 4950px;
    right: 255px;
    opacity: 0;
}

#page-4 .USU_College .logo_background5 {
    position: absolute;
    top: 4950px;
    right: 1055px;
    width: 60.433px;
    height: 48px;
    background-color: #000;
    opacity: 0;
}

#page-4 .USU_College .logo5 {
    position: absolute;
    top: 4978px;
    right: 1060px;
    width: 44.433px;
    height: 24px;
    opacity: 0;
}

#page-4 .USU_College h1 {
    position: absolute;
    top: 5550px;
    left: 720px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: -0.4px;
}

#page-4 .USU_College h2 {
    position: absolute;
    top: 5575px;
    left: 720px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: -0.36px;
}

#page-4 .sugar_house .sugar {
    position: absolute;
    top: 5670px;
    left: 120px;
    opacity: 0;
}

#page-4 .sugar_house .logo_background6 {
    position: absolute;
    top: 5680px;
    left: 140px;
    width: 60.433px;
    height: 48px;
    background-color: #000;
    opacity: 0;
}

#page-4 .sugar_house .logo6 {
    position: absolute;
    top: 5708px;
    left: 150px;
    width: 44.433px;
    height: 24px;
    opacity: 0;
}

#page-4 .sugar_house h1 {
    position: absolute;
    top: 6230px;
    left: 120px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: -0.4px;
}

#page-4 .sugar_house h2 {
    position: absolute;
    top: 6255px;
    left: 120px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: -0.36px;
}

#page-4 .trax .uta {
    position: absolute;
    top: 5670px;
    left: 1000px;
    opacity: 0;
}

#page-4 .trax .logo_background7 {
    position: absolute;
    top: 5670px;
    left: 1020px;
    width: 60.433px;
    height: 48px;
    background-color: #000;
    opacity: 0;
}

#page-4 .trax .logo7 {
    position: absolute;
    top: 5698px;
    left: 1030px;
    width: 44.433px;
    height: 24px;
    opacity: 0;
}

#page-4 .trax h1 {
    position: absolute;
    top: 6230px;
    left: 1000px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: -0.4px;
}

#page-4 .trax h2 {
    position: absolute;
    top: 6255px;
    left: 1000px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: -0.36px;
}

#page-4 .module .unified {
    position: absolute;
    top: 6370px;
    left: 120px;
    opacity: 0;
}

#page-4 .module .logo_background8 {
    position: absolute;
    top: 6380px;
    left: 140px;
    width: 60.433px;
    height: 48px;
    background-color: #000;
    opacity: 0;
}

#page-4 .module .logo8 {
    position: absolute;
    top: 6408px;
    left: 150px;
    width: 44.433px;
    height: 24px;
    opacity: 0;
}

#page-4 .module h1 {
    position: absolute;
    top: 6965px;
    left: 120px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: -0.4px;
}

#page-4 .module h2 {
    position: absolute;
    top: 6990px;
    left: 120px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: -0.36px;
}

#page-4 .Geology .sutton {
    position: absolute;
    top: 6370px;
    left: 1200px;
    opacity: 0;
}

#page-4 .Geology .logo_background9 {
    position: absolute;
    top: 6370px;
    left: 1220px;
    width: 60.433px;
    height: 48px;
    background-color: #000;
    opacity: 0;
}

#page-4 .Geology .logo9 {
    position: absolute;
    top: 6398px;
    left: 1230px;
    width: 44.433px;
    height: 24px;
    opacity: 0;
}

#page-4 .Geology h1 {
    position: absolute;
    top: 6730px;
    left: 1200px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: -0.4px;
    text-align: start;
}

#page-4 .Geology h2 {
    position: absolute;
    top: 6780px;
    left: 1200px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: -0.36px;
}

#page-4 .s-line .k {
    position: absolute;
    top: 7200px;
    left: 120px;
    opacity: 0;
}

#page-4 .s-line .line_title {
    position: absolute;
    top: 7530px;
    left: 120px;
    width: 521px;
    color: #000;
    text-align: center;
    font-family: "SF Pro Text";
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 114.286% */
    letter-spacing: -1.68px;
    opacity: 0;
}

#page-4 .s-line .s_line {
    position: absolute;
    top: 7170px;
    left: 1000px;
    opacity: 0;
}

#page-4 .s-line .logo_background10 {
    position: absolute;
    top: 7170px;
    left: 1020px;
    width: 60.433px;
    height: 48px;
    background-color: #000;
    opacity: 0;
}

#page-4 .s-line .logo10 {
    position: absolute;
    top: 7197px;
    left: 1028px;
    width: 44.433px;
    height: 24px;
    opacity: 0;
}

#page-4 .s-line h2 {
    position: absolute;
    top: 7730px;
    left: 1000px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: -0.4px;
    text-align: start;
}

#page-4 .s-line h3 {
    position: absolute;
    top: 7750px;
    left: 1000px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: -0.36px;
}

#page-4 .Recent_btn2 h1 {
    position: absolute;
    top: 7870px;
    left: 795px;
    color: #000;
    text-align: center;
    font-family: "SF Pro Text";
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px; /* 150% */
    letter-spacing: -0.96px;
}

#page-4 .Recent_btn2 label {
    position: absolute;
    top: 8022px;
    left: 875px;
    width: 145px;
    height: 45px;
    color: #fff;
    font-family: "SF Pro Text";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height:45px; /* 125% */
    text-align: center;
    border: 2px solid #222;
    background-color: #000;
    cursor: pointer;
}

#page-4 .Recent_btn2 .Recent_arrow2 {
    position: absolute;
    top: 8022px;
    left: 1020px;
    width: 45px;
    height: 45px;
    border: 2px solid #222;
    cursor: pointer;
 }

 #page-4 .Recent_btn2 .Recent_arrow2 img {
    position: absolute;
    top: 7px;
    left: 7px;
    width: 30px;
    height: 30px;
}

#page-5 h1 {
    position: absolute;
    top: 8180px;
    left: 120px;
    color: #000;
    text-align: center;
    font-family: "SF Pro Text";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px; /* 150% */
    letter-spacing: -0.96px;
}

#page-5 .Our_btn label {
    position: absolute;
    top: 8240px;
    left: 1500px;
    width: 145px;
    height: 45px;
    color: #fff;
    font-family: "SF Pro Text";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height:45px; /* 125% */
    text-align: center;
    border: 2px solid #222;
    background-color: #000;
    cursor: pointer;
}

#page-5 .Our_btn .Our_arrow {
    position: absolute;
    top: 8240px;
    left: 1649px;
    width: 45px;
    height: 45px;
    border: 2px solid #222;
    cursor: pointer;
 }

#page-5 .Our_btn img {
    position: absolute;
    top: 7px;
    left: 7px;
    width: 30px;
    height: 30px;
}

#page-5 .Our_line {
    position: absolute;
    top: 8300px;
    left: 10px;
    width: 1840px;
    height: 1px;
    background-color: #000;
}

#page-5 h2 {
    position: absolute;
    top: 8325px;
    left: 120px;
    width: 744px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

#page-5 .management_title ul li {
    list-style: none;
}

#page-5 .management_title a {
    position: relative;
    display: block;
    text-decoration: none;
    top: 7200px;
    left: 120px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.48px;
    line-height: 120px;
}

#page-5 #management_img1 {
    position: absolute;
    display: grid;
    top: 8550px;
    left: 500px;
    gap: 20px 50px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

#page-5 #management_container1  {
    position: absolute;
    display: grid;
    top: 8850px;
    left: 500px;
    gap: 20px 51px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

#page-5 #management_container1 > div {
    width: 327px;
    height: 92px;
    background-color: #cccccc70;
}

#page-5 #management_text {
    position: absolute;
    display: grid;
    top: 8850px;
    left: 505px;
    gap: 20px 170px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

#page-5 #management_text > p {
    color: #000;
    font-family: "SF Pro Text";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.48px;
}

#page-5 #management_text2 {
    position: absolute;
    display: grid;
    top: 8885px;
    left: 505px;
    gap: 20px 254px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

#page-5 #management_text2 > p {
    color: #B2B2B2;
    font-family: "SF Pro Text";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.48px;
}

#page-5 #management_img2 {
    position: absolute;
    display: grid;
    top: 8980px;
    left: 500px;
    gap: 20px 50px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

#page-5 #management_container2  {
    position: absolute;
    display: grid;
    top: 9280px;
    left: 500px;
    gap: 20px 50px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

#page-5 #management_container2 > div {
    width: 327px;
    height: 92px;
    background-color: #cccccc70;
}

#page-5 #management_text3 {
    position: absolute;
    display: grid;
    top: 9280px;
    left: 505px;
    gap: 20px 230px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

#page-5 #management_text3 > p {
    color: #000;
    font-family: "SF Pro Text";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.48px;
}

#page-5 #management_text4 {
    position: absolute;
    display: grid;
    top: 9315px;
    left: 505px;
    gap: 20px 237px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

#page-5 #management_text4 > p {
    color: #B2B2B2;
    font-family: "SF Pro Text";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.48px;
}

#page-6 h1 {
    position: absolute;
    top: 9580px;
    left: 120px;
    color: #000;
    text-align: center;
    font-family: "SF Pro Text";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px; /* 150% */
    letter-spacing: -0.96px;
}

#page-6 .blog_btn label {
    position: absolute;
    top: 9630px;
    left: 1500px;
    width: 145px;
    height: 45px;
    color: #fff;
    font-family: "SF Pro Text";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height:45px; /* 125% */
    text-align: center;
    border: 2px solid #222;
    background-color: #000;
    cursor: pointer;
}

#page-6 .blog_btn .blog_arrow {
    position: absolute;
    top: 9630px;
    left: 1649px;
    width: 45px;
    height: 45px;
    border: 2px solid #222;
    cursor: pointer;
 }

 #page-6 .blog_btn img {
    position: absolute;
    top: 7px;
    left: 7px;
    width: 30px;
    height: 30px;
}


#page-6 .blog_line {
    position: absolute;
    top: 9700px;
    left: 10px;
    width: 1840px;
    height: 1px;
    background-color: #000;
}

#page-6 .blog_desc1 img {
    position: absolute;
    top: 9787px;
    left: 470px;
}

#page-6 .blog_desc1 span {
    position: absolute;
    top: 10290px;
    left: 490px;
    color: #B2B2B2;
    font-family: "SF Pro Text";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
}

#page-6 .blog_desc1 h1 {
    position: absolute;
    top: 10295px;
    left: 490px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    z-index: 2;
}

#page-6 .blog_desc1 h2 {
    position: absolute;
    top: 10335px;
    left: 490px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 18px;    
    font-weight: 400;
    line-height: 24px;
    z-index: 2;
    font-style: normal;
}

#page-6 .blog_desc2 img {
    position: absolute;
    top: 9787px;
    left: 1068px;
}

#page-6 .blog_desc2 span {
    position: absolute;
    top: 10290px;
    left: 1080px;
    color: #B2B2B2;
    font-family: "SF Pro Text";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
}

#page-6 .blog_desc2 h1 {
    position: absolute;
    top: 10295px;
    left: 1080px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    z-index: 2;
}

#page-6 .blog_desc2 h2 {
    position: absolute;
    top: 10335px;
    left: 1080px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 18px;    
    font-weight: 400;
    line-height: 24px;
    z-index: 2;
    font-style: normal;
}

#page-6 .blog_desc .blog_desc_container ul li {
    list-style: none;
}

#page-6 .blog_desc .blog_desc_container p {
    position: relative;
    display: inline-block;
    top: 8324px;
    left: 400px;
    width: 532px;
    height: 168px;
    margin: 30px;
    background-color: #cccccc70;
    z-index: 1;
}

.footer h1 {
    position: absolute;
    top: 10780px;
    left: 120px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px; /* 150% */
    letter-spacing: -0.96px;
}

.footer .footer_btn label {
    position: absolute;
    top: 10840px;
    left: 1500px;
    width: 145px;
    height: 45px;
    color: #fff;
    font-family: "SF Pro Text";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height:45px; /* 125% */
    text-align: center;
    border: 2px solid #222;
    background-color: #000;
    cursor: pointer;
}

.footer .footer_btn .footer_arrow {
    position: absolute;
    top: 10840px;
    left: 1649px;
    width: 45px;
    height: 45px;
    border: 2px solid #222;
    cursor: pointer;
 }

.footer .footer_btn img {
    position: absolute;
    top: 7px;
    left: 7px;
    width: 30px;
    height: 30px;
}


.footer .footer_line {
    position: absolute;
    top: 10900px;
    left: 10px;
    width: 1840px;
    height: 1px;
    background-color: #000;
}

.footer h2 {
    position: absolute;
    top: 10950px;
    left: 120px;
    width: 376px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px; /* 120% */
    letter-spacing: -0.8px;
}

.footer .footer_btn2 label {
    position: absolute;
    top: 11090px;
    left: 120px;
    width: 145px;
    height: 45px;
    color: #fff;
    font-family: "SF Pro Text";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height:45px; /* 125% */
    text-align: center;
    border: 2px solid #222;
    background-color: #000;
    cursor: pointer;
}

.footer .footer_btn2 .footer_arrow2 {
    position: absolute;
    top: 11090px;
    left: 269px;
    width: 45px;
    height: 45px;
    border: 2px solid #222;
    cursor: pointer;
 }

.footer .footer_btn2 img {
    position: absolute;
    top: 7px;
    left: 7px;
    width: 30px;
    height: 30px;
}

.footer .footer_menu ul li {
    list-style: none;
}

.footer .footer_menu a {
    position: relative;
    top: 9150px;
    left: 50px;
    text-decoration: none;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 20px;
}

.footer .footer_address ul li {
    list-style: none;
}

.footer .footer_address a {
    position: relative;
    display: block;
    top: 8770px;
    left: 700px;
    text-decoration: none;
    width: 199px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;

}

.footer .footer_address p {
    position: relative;
    top: 8780px;
    left: 735px;
}

.footer .footer_address2 ul li {
    list-style: none;
}

.footer .footer_address2 a {
    position: relative;
    display: block;
    top: 8500px;
    left: 1000px;
    text-decoration: none;
    width: 199px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}

.footer .footer_address2 p {
    position: relative;
    top: 8515px;
    left: 1035px;
}

.footer .footer_address3 ul li {
    list-style: none;
}

.footer .footer_address3 a {
    position: relative;
    display: block;
    top: 8235px;
    left: 1300px;
    text-decoration: none;
    width: 199px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}

.footer .footer_address3 p {
    position: relative;
    top: 8250px;
    left: 1335px;
}

.footer .footer_sns ul li {
    list-style: none;
}

.footer .footer_sns img {
    position: relative;
    top: 8300px;
    left: 1500px;
    margin: 20px;
}

.footer .footer_line2 {
    position: absolute;
    top: 11390px;
    left: 10px;
    width: 1840px;
    height: 1px;
    background-color: #000;
}

.footer .copywirting p {
    position: absolute;
    top: 11400px;
    left: 120px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
}

.footer .copywirting span {
    position: absolute;
    top: 11420px;
    left: 1500px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

