@font-face {
    font-family: "SF Pro Text";
    font-weight: 100;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
  }
  
  /** Thin */
  @font-face {
    font-family: "SF Pro Text";
    font-weight: 200;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
  }
  
  /** Regular */
  @font-face {
    font-family: "SF Pro Text";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }
  
  /** Medium */
  @font-face {
    font-family: "SF Pro Text";
    font-weight: 500;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
  }
  
  /** Semi Bold */
  @font-face {
    font-family: "SF Pro Text";
    font-weight: 600;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
  }
  
  /** Bold */ 
  @font-face {
    font-family: "SF Pro Text";
    font-weight: 700;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
  }

body {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

section {
    display: flex;
   
}

.Header img {
    position: relative;
    left: 120px;
    width: 83.244px;
    height: 60px;
    display: flex;
    padding: 56px 12px 16px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    width: 59.244px;
    height: 32px;
    color: #fff;
}

.Header li {
    list-style: none;
}

.Header h1 {
    position: absolute;
    top: 0px;
    left: 911px;
    font-size: 20px;
}

.Header li a {
    position: relative;
    top: -50px;
    left: 880px;
    font-family: "SF Pro Text";
    font-size: 20px;
    font-weight: 500;
    margin: 40px;
    text-decoration: none;
    color: #000;
}

.Header .Header_line {
    position: absolute;
    top: 120px;
    left: 10px;
    width: 1840px;
    height: 1px;
    background-color: #000;
}

#page-1 {
    width: 1920px;
    height: 1080px;
}


#page-1 .Home_title span {
    position: absolute;
    top: 250px;
    left: 550px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#page-1 .Home_title h1 {
    position: absolute;
    top: 180px;
    left: 120px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 104px;
    font-style: normal;
    font-weight: 700;
    line-height: 116px; /* 111.538% */
    letter-spacing: -3.12px;
}
#page-2 .about_title span {
    position: absolute;
    top: 250px;
    left: 550px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#page-2 .about_title h1 {
    position: absolute;
    top: 250px;
    left: 550px;
    color: #000;
    font-family: "SF Pro Text";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#page-3{
    background-color: orange;
}

#page-4{
    width: 1920px;
    height: 200px;
    background-color: rgb(26, 108, 175);
}

header {
    position: fixed;
   
}

header a {
    text-decoration: none;
    color: #fff;
    margin-left: 1em;
    margin-right: 1em;
}

